<article class="article article-type-<%= page.layout %>" >
  <div class="article-inner">
    <header class="article-header">
      <h1 class="article-title"><%= page.title %></h1>
    </header>

    <div class="article-entry">
      <p>
        You can find a list of core contributors on
        <a href="https://github.com/kvz/locutus/graphs/contributor">GitHub</a>,
        as well as a more finegrained achievement record below:
      </p>

      <% site.pages.find({ type: 'language' }).sort('order').each(function (lang) { %>
        <h2><a href="<%- url_for(lang.path).replace('index.html', '') %>"><%- lang.title %></a></h2>
        <section class="authors" data-language="<%= lang.language %>">
          <% site.pages.find({ language: lang.language, type: 'function' }).each(function (func) { %>
            <% for (var typeKey in func.authors) { %>
              <% func.authors[typeKey].forEach(function(author) { %>
                <entry data-function="<%= func.function %>" data-type="<%= typeKey %>"><%- markdown(trim(author)) %></entry>
              <% }) %>
            <% } %>
          <% }) %>
          <div class="draw"></div>
        </section>
      <% }) %>

      <%- page.content %>
    </div>
  </div>
</article>
