<article class="article article-type-<%= page.layout %>" >
  <div class="article-inner">
    <header class="article-header">
      <h1 class="article-title"><%= page.title %></h1>
    </header>

    <div class="article-entry">
      <p class="authors-intro">
        Locutus has had <a href="https://github.com/locutusjs/locutus/graphs/contributors">137 contributors</a> since 2008.
        Every function header tracks who wrote, improved, or fixed it.
        This page tallies those credits per language.
      </p>

      <%
      var contributionKeys = ['original by', 'improved by', 'reimplemented by', 'parts by', 'bugfixed by', 'revised by', 'input by'];
      var medals = ['\u{1F947}', '\u{1F948}', '\u{1F949}']; // gold, silver, bronze

      function formatAuthor(author) {
        var m;
        if (author.match(/Kevin van Zonneveld/)) {
          return null;
        }
        if ((m = author.match(/^\s*(.+)\s*\(([^\)]+)\)\s*$/))) {
          return '<a href="' + m[2] + '">' + m[1] + '</a>';
        }
        if ((m = author.match(/^\s*(https?:\/\/.+)\s*$/i))) {
          return '<a href="' + m[1] + '">' + m[1].split('/')[2] + '</a>';
        }
        return author.trim();
      }

      // Collect all languages and their author data, skip empty ones
      var languageData = [];
      site.pages.find({ type: 'language' }).sort('order').each(function (lang) {
        var uniqueAuthors = {};
        site.pages.find({ language: lang.language, type: 'function' }).each(function (func) {
          for (var typeKey in func.authors) {
            func.authors[typeKey].forEach(function(authorRaw) {
              var author = formatAuthor(trim(authorRaw));
              if (!author) return;

              if (!uniqueAuthors[author]) {
                uniqueAuthors[author] = { author: author, total: 0, functions: {} };
              }
              if (!uniqueAuthors[author][typeKey]) {
                uniqueAuthors[author][typeKey] = 0;
              }
              uniqueAuthors[author][typeKey]++;
              uniqueAuthors[author].total++;
              if (!uniqueAuthors[author].functions[func.function]) {
                uniqueAuthors[author].functions[func.function] = '/' + func.language + '/' + func.category + '/' + func.function + '/';
              }
            });
          }
        });

        var authorList = [];
        for (var name in uniqueAuthors) {
          authorList.push(uniqueAuthors[name]);
        }
        authorList.sort(function(a, b) { return b.total - a.total; });

        // Only include languages that have authors
        if (authorList.length > 0) {
          languageData.push({ lang: lang, authors: authorList });
        }
      });
      %>

      <% languageData.forEach(function(data) { %>
        <h2><a href="<%- url_for(data.lang.path).replace('index.html', '') %>"><%- data.lang.title %></a></h2>
        <p class="authors-lang-summary"><%= data.authors.length %> contributor<%= data.authors.length !== 1 ? 's' : '' %></p>
        <section class="authors" data-language="<%= data.lang.language %>">
          <ul class="authors-list">
          <% data.authors.forEach(function(author, idx) { %>
            <li class="author-entry<%= idx < 3 ? ' author-top' + (idx + 1) : '' %>">
              <span class="author-rank"><%= idx < 3 ? medals[idx] : (idx + 1) %></span>
              <span class="author-name"><%- author.author %></span>
              <span class="author-stats">
              <%
              var parts = [];
              contributionKeys.forEach(function(key) {
                if (author[key]) {
                  parts.push(author[key] + ' ' + key.replace(' by', ''));
                }
              });
              %>
              <%
              var funcNames = Object.keys(author.functions);
              %>
              <%- parts.join(', ') %>
              <% if (funcNames.length === 1) { %>
                &mdash; <a href="<%= author.functions[funcNames[0]] %>"><%= funcNames[0] %></a>
              <% } else { %>
                &mdash; <%= funcNames.length %> functions
              <% } %>
              </span>
            </li>
          <% }); %>
          </ul>
        </section>
      <% }) %>

      <%- page.content %>
    </div>
  </div>
</article>
