<% var curLang = page %>

<article class="article article-type-<%= curLang.layout %>" >
  <div class="article-inner">
    <header class="article-header">
      <h1 class="article-title"><%= page.title %></h1>
    </header>

    <div class="article-entry">
      <%
      var funcCount = site.pages.find({ language: page.language, type: 'function' }).length;
      var catCount = site.pages.find({ language: page.language, type: 'category' }).length;
      var surfaceLang = site.data && site.data.upstream_surface && site.data.upstream_surface.languages
        ? site.data.upstream_surface.languages[page.language]
        : null;
      %>
      <p>
        TypeScript implementations of <%= funcCount %> <%= page.human || page.language %> standard library functions across <%= catCount %> module<%= catCount !== 1 ? 's' : '' %>.
        Each function is individually importable and tree-shakeable.
      </p>

      <% site.pages.find({ language: page.language, type: 'category'}).sort('category').each(function (cat) { %>
        <strong><%- cat.category %></strong>
        <ul>
          <% site.pages.find({ language: cat.language, category: cat.category, type: 'function' }).sort('function').each(function (func) { %>
            <li><a href="<%- url_for(func.path).replace('index.html', '') %>"><%- func.function %></a></li>
          <% }) %>
        </ul>
      <% }) %>

      <hr />
      <%- partial('locutus/add_more', {curLang: curLang}) %>

      <% if (surfaceLang) { %>
        <%- partial('locutus/upstream_surface_language', { page: page, surfaceLang: surfaceLang }) %>
      <% } %>
    </div>
  </div>
</article>
