<section class="layout-wrap">
    <div class="layout-title">
        <span><%= page.title %></span>
    </div>
    <div class="layout-wrap-inner list-categories">
      <%- page.content %>

      <% if (page.type === 'language') { %>
        <% site.pages.find({ language: page.language, type: 'category' }).each(function (cat) { %>
          <strong><%- cat.title %></strong>
          <ul>
            <% site.pages.find({ language: cat.language, category: cat.category, type: 'function' }).each(function (func) { %>
              <li><a href="<%- url_for(func.path) %>"><%- func.title %></a></li>
            <% }) %>
          </ul>
        <% }) %>
      <% } %>
    </div>
</section>
